body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #666;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul a:hover {
    color: #aaa;
}

header {
    background: url(https://source.unsplash.com/600x200/?kamakura) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    text-shadow: 0 0 5px #333;
}

main {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h2{
    margin-top: 20px;
    margin-bottom: 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    border-radius: 5px;
}

footer {
    background-color: #666;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (min-width:640px) {
    nav, footer {
        background-color: #668;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

/* aboutページのCSS */

.company-table {
    width: 300px;
}

.company-table th, td {
    padding: 3px;
}

.company-table th {
    text-align: right;
}